In [1]:
import pandas as pd
import numpy as np

In [2]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

In [3]:
df = pd.read_csv('Data-Collisions.csv')
df.head()

/Users/williamcornejo/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [4]:
df['ROADCOND'].value_counts()

Dry               124510
Wet                47474
Unknown            15078
Ice                 1209
Snow/Slush          1004
Other                132
Standing Water       115
Sand/Mud/Dirt         75
Oil                   64
Name: ROADCOND, dtype: int64

In [5]:
df['SEVERITYCODE'].value_counts()

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

In [7]:
df.shape

(194673, 38)

In [8]:
df.columns

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [9]:
X = np.asarray(df[['X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR']])
X[0:5]

array([[-122.32314840000002, 47.70314032, 1, 1307, 1307, '3502005',
        'Matched', 'Intersection', 37475.0, '5TH AVE NE AND NE 103RD ST',
        ' ', nan, 2, 'Injury Collision', 'Angles', 2, 0, 0, 2,
        '2013/03/27 00:00:00+00', '3/27/2013 2:54:00 PM',
        'At Intersection (intersection related)', 11,
        'MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END AT ANGLE', nan,
        'N', 'Overcast', 'Wet', 'Daylight', nan, nan, nan, '10',
        'Entering at angle', 0, 0, 'N'],
       [-122.3472943, 47.64717249, 2, 52200, 52200, '2607959', 'Matched',
        'Block', nan, 'AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N', nan,
        nan, 1, 'Property Damage Only Collision', 'Sideswipe', 2, 0, 0,
        2, '2006/12/20 00:00:00+00', '12/20/2006 6:55:00 PM',
        'Mid-Block (not related to intersection)', 16,
        'MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE SIDESWIPE', nan,
        '0', 'Raining', 'Wet', 'Dark - Street Lights On', nan, 6354039.0,
        nan, '11',
        'From same direction - both going straight - both moving - sideswipe',
        0, 0, 'N'],
       [-122.33453999999999, 47.60787143, 3, 26700, 26700, '1482393',
        'Matched', 'Block', nan,
        '4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST', nan, nan, 1,
        'Property Damage Only Collision', 'Parked Car', 4, 0, 0, 3,
        '2004/11/18 00:00:00+00', '11/18/2004 10:20:00 AM',
        'Mid-Block (not related to intersection)', 14,
        'MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END', nan, '0',
        'Overcast', 'Dry', 'Daylight', nan, 4323031.0, nan, '32',
        'One parked--one moving', 0, 0, 'N'],
       [-122.3348033, 47.60480289, 4, 1144, 1144, '3503937', 'Matched',
        'Block', nan, '2ND AVE BETWEEN MARION ST AND MADISON ST', ' ',
        nan, 1, 'Property Damage Only Collision', 'Other', 3, 0, 0, 3,
        '2013/03/29 00:00:00+00', '3/29/2013 9:26:00 AM',
        'Mid-Block (not related to intersection)', 11,
        'MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END AT ANGLE', nan,
        'N', 'Clear', 'Dry', 'Daylight', nan, nan, nan, '23',
        'From same direction - all others', 0, 0, 'N'],
       [-122.3064263, 47.54573946, 5, 17700, 17700, '1807429', 'Matched',
        'Intersection', 34387.0, 'SWIFT AVE S AND SWIFT AV OFF RP', nan,
        nan, 2, 'Injury Collision', 'Angles', 2, 0, 0, 2,
        '2004/01/28 00:00:00+00', '1/28/2004 8:04:00 AM',
        'At Intersection (intersection related)', 11,
        'MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END AT ANGLE', nan,
        '0', 'Raining', 'Wet', 'Daylight', nan, 4028032.0, nan, '10',
        'Entering at angle', 0, 0, 'N']], dtype=object)

In [10]:
y = np.asarray(df['SEVERITYCODE'])
y [0:5]

array([2, 1, 1, 1, 2])

In [11]:
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(X).transform(X)
X[0:5]

ValueError: could not convert string to float: 'N'

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (155738, 37) (155738,)
Test set: (38935, 37) (38935,)